.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

!/uploads/*
!/uploads/thumbs/*
!/includes/properties.php
!application/logs/index.html
!application/logs/.htaccess