# A AJOUTER A LA RACINE DE VOTRE PROJET
# NE PAS OUBLIER D'ACTIVER LE MODULE "REWRITE_MODULE" dans apche

<IfModule mod_rewrite.c>

    Options +FollowSymLinks
    RewriteEngine on

    # Send request via index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L]

</IfModule>